<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="WebRTC code samples">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Client-side WebRTC code samples">
  <meta itemprop="name" content="WebRTC code samples">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <base target="_blank">

  <title>Select audio and video sources</title>

  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
  <link href="../css/main.css" type="text/css" rel="stylesheet"></link>

</head>

<body>

  <svg height="0">
    <defs>
      <filter id="blur" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" stdDeviation="0.1"/>
      </filter>
    </defs>
  </svg>
  <!-- <section class="loginPage">
    <div class="container">
      <form class="signIn">
        <legen>Please Sign in</legen>
        <input type="text" id="userName">
        <p class="userNameError"></p>
        <button type="submit">Submit</button>
      </form>
    </div>

  </section> -->
  <div id="container">
    <!-- Set up the video streams -->
    <div class="select">
      <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
      <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
    </div>

    <div class="select">
      <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>

    <!-- end video stream setup -->


<!-- Video Displays -->
    <div class="left">
          <video id="left_eye" muted autoplay></video>
    </div>
    <div class="right">
          <video id="right_eye" muted autoplay></video>
    </div>
    <!-- End video Displays -->

 <!-- <div class="options">
	 <form id="viewOptions">
		 <legend>View Mode</legend>
		 <div class="viewModeOption">
			 <input type="checkbox" value="VR" id="VRCheck" name="viewMode" checked />
  		 <label for="viewMode"></label>
		 </div>
     <lengend>For a better experience go full screen</lengend>
     <div class="viewModeOption">
			 <input type="checkbox" value="fullScreen" id="fullScreen" name="fullScreen" />
  		 <label for="fullScreen"></label>
       <button id="fullScreen">FullScreen</button>
		 </div>


		 <legend>Color Blindness</legend>
		 <div class="cbChoice selected">
			 	<input checked type="radio" name="cb" value="normal">
				<label for="normal">Normal Vision</label>
				<p class="affect">Affect around 2%</p>
				<p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
				<input type="radio" name="cb" value="protanopia">
				<label for="protanopia">protanopia</label>
				<p class="affect">Affect around 2%</p>
				<p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
		 	 <input type="radio" name="cb" value="protanomaly">
		 	 <label for="protanomaly">protanomaly</label>
		 	 <p class="affect">Affect around 2%</p>
		 	 <p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
		 	<input type="radio" name="cb" value="deuteranopia">
		 	<label for="deuteranopia">deuteranopia</label>
		 	<p class="affect">Affect around 2%</p>
		 	<p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
			<input type="radio" name="cb" value="deuteranomaly">
			<label for="deuteranomaly">deuteranomaly</label>
			<p class="affect">Affect around 2%</p>
			<p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
		  <input type="radio" name="cb" value="tritanopia">
		  <label for="tritanopia">tritanopia</label>
		  <p class="affect">Affect around 2%</p>
		  <p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
		  <input type="radio" name="cb" value="tritanomaly">
		  <label for="tritanomaly">tritanomaly</label>
		  <p class="affect">Affect around 2%</p>
		  <p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
		  <input type="radio" name="cb" value="achromatopsia">
		  <label for="achromatopsia">achromatopsia</label>
		  <p class="affect">Affect around 2%</p>
		  <p class="desc">This is where the description about the conditon will go</p>
		 </div>

		 <div class="cbChoice">
			<input type="radio" name="cb" value="achromatomaly">
		  <label for="achromatomaly">achromatomaly</label>
		  <p class="affect">Affect around 2%</p>
		  <p class="desc">This is where the description about the conditon will go</p>
		 </div>

     <legend>Blindness</legend>
     <input id="blind" type ="range" min ="0" max="100" step ="1" value ="0"/>
	 </form>
 </div> -->
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script defer src="../js/main.js"></script>
  <script src="../socket.io/socket.io.js"></script>
  <script type="text/javascript">
  var host = window.location.hostname;
  var socket = io.connect('http://' + host);
    //adding a username
          //
          // var nickForm = $('.signIn');
          // var nickError= $('.userNameError');
          // var nickname = $('#userName');
          //
          // nickForm.submit(function(e){
          //   e.preventDefault();
          //   socket.emit('new user', nickname.val(), function(data){
          //       if(data){
          //         $('.signIn').hide();
          //
          //       }else{
          //         nickError.html("Sorry Someone is already using that");
          //       }
          //   });
          //   nickname.val('');
          // });


    socket.on('cb change',function(data){
        //alert('Remove Class ' + data.oldCB + ', then add class ' + data.newCB);
        $('#left_eye').removeClass(data.oldCB);
        $('#right_eye').removeClass(data.oldCB);
        $('#left_eye').addClass(data.newCB);
        $('#right_eye').addClass(data.newCB);

    });

</script>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90731612-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
